@model IEnumerable<DBL.Models.Companypurchase>
@{
    ViewData["Title"] = "Productreorderunprocessedlist";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-bordered table-striped table-responsive-sm table-sm compact nowrap" id="Productprocessedliststable">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Order Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var data in Model)
                        {
                        <tr>
                            <td>@data.Productname</td>
                            <td>@data.Orderquantity</td>
                            <td>@data.Orderstatus</td>
                            <td><a href="@Url.Action("Makeadispatch","Product",new {id=data.Orderid,productid=data.Productid,quantity=data.Orderquantity })" class="btn btn-sm btn-info text-white">Dispatch</a></td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $("#Productprocessedliststable").DataTable();
    </script>
}

